.about{
    background: linear-gradient(to bottom left, #ffffff 70%, #f8eddc 100%);
}

.about-text{
   padding: 10px;

}

.about-text h1{
    color: #255946;
    font-size: 3.8rem;
}

.line{
    
    width: 30%;
    height: .4%;
    background-color: black;
}

.about-text p{
    color: #255946;
   line-height: 1.9rem;
   font-size: 1.1rem;
}

.about-img img{
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) {
    .about-text h1{
        font-size: 2.5rem;
    }

   
}

@media (max-width: 576px) {
    .about-text{
        text-align: center;
    }
    .about-text h1{
        font-size: 3rem;
    }
    .line{
    
        width: 100%;
        height: .4%;
        background-color: black;
    }
    .about-img img{
        width: 100%;
        height: auto; 
        border: 2PX RED SOLID;
    }

}
